.que-item {
  padding: 2%;
}

/* .que-collection {
 max-height: 400px;
 overflow: scroll;
} */

.mark {
 color: #e74c3c;
 font-weight: bold;
}

.secondary-content {
 color: #e74c3c;
}

.download {
  margin-top: .8%;
}

.index {
  float: left;
}

