<div class="row center">
  <div class="card-panel">
    <div class="row">
        <div class="col s12"><h5>Click Event For Explanation</h5></div>
    </div>
    <div class="row">
      <a class="waves-effect waves-light btn btn-evt"
          *ngFor="let event of events"
          (click)="whichEvent(event)"
          [ngClass]="{'btn-selected' : event.active}"
          >{{event.type | uppercase}}
      </a>
    </div>
    <div class="divider"></div>
    <div class="row">
      <div class="col s6 offset-s3">
        <h5><span class="e-name">{{eventName}}</span></h5>
      </div>
    </div>
    <div class="row">
      <div class="col s8 offset-s2">
        <p *ngIf="eventName == 'OUT'">Aircraft has left the Gate and sets the flight's Actual Departure timestamp. In MVT it changes OUT time in UTC.</p>
        <p *ngIf="eventName == 'OFF'">Aircraft has taken off the ground. In MVT it changes OFF time in UTC.</p>
        <p *ngIf="eventName == 'ON'">Aircraft On the ground, has landed. In MVT it changes ON time in UTC.</p>
        <p *ngIf="eventName == 'IN'">Aircraft at the Gate. In MVT it changes IN time in UTC.</p>
        <p *ngIf="eventName == 'ETA'">Estimated time of arrival for a flight. In MVT it changes ETA time in UTC.</p>
        <p *ngIf="eventName == 'ETD'">Estimated time of departure for a flight. In MVT it changes ETD time in UTC.</p>
        <p *ngIf="eventName == 'ETO'">Estimated Off time for an operated flight. In MVT it changes ETO time in UTC.</p>
        <p *ngIf="eventName == 'EON'">Estimated On Time. In MVT it changes EON time in UTC.</p>
        <p *ngIf="eventName == 'SUB'">Substitute tail number within the same aircraft equipment family e.g. change in tail number between 32F and 32A.. In MVT it changes tail number to the one you give.</p>
        <p *ngIf="eventName == 'CNL'">Cancel. A flight segment that will not be operated/flown but is retained as part of the flight schedule. This does not delete the flight from database. Note: A canceled flight can be reinstated, a deleted flight cannot.</p>
        <p *ngIf="eventName == 'DEL'">Delete flight from Flight Trac system. Note: Use the NEW event if you need to re-add the deleted flight.</p>
        <p *ngIf="eventName == 'GTA'">Arrival gate change. In MVT it will change existing or add if there was no previous arrival gate.</p>
        <p *ngIf="eventName == 'GTD'">Departure gate change. In MVT it will change existing or add if there was no previous departure gate.</p>
        <p *ngIf="eventName == 'NEW'">Add new flight into the database.</p>
        <p *ngIf="eventName == 'RIN'">Reinstate a flight after the it was cancelled. Note: Flight leg becomes same as it was before cancel.</p>
        <p *ngIf="eventName == 'ASN'">Initial assignment of a tail number to a flight. Note: Use this to undo REM event.</p>
        <p *ngIf="eventName == 'REM'">Remove the tail number associated to the flight. Note: This does not cancel the flight. Use ASN to add a new tail number.</p>
        <p *ngIf="eventName == 'UDA'">Undelay Arrival. Removes any arrival delay on the flight.</p>
        <p *ngIf="eventName == 'UDD'">Undelay Departure. Removes any departure delay on the flight.</p>
        <p *ngIf="eventName == 'RMA'">Remove arrival time on the flight. Note: This removes ON and IN time in MVT.</p>
        <p *ngIf="eventName == 'RMD'">Remove departure time on the flight. Note: This removes OUT and OFF time in MVT.</p>
        <p *ngIf="eventName == 'AIR'">Air Turnback, makes the return to origin city of a flight that has taken off. Note: Both OUT and OFF time must be present fot that flight.</p>
        <p *ngIf="eventName == 'GRD'">Ground Turnback. A scheduled flight that has left the gate, not yet departed, returns to a gate. Note: Only OUT must be present for that flight.</p>
        <p *ngIf="eventName == 'DVC'">Divert And Continue. Adds an intermediate stop between the departure and arrival stations of the current flight (ex:  DAL - PHX becomes DAL - HOU - PHX) and Continue to the scheduled arrival station. Note: This breaks the flight into two segment, origin to diversion city and diversion city to original destination.</p>
      </div>
    </div>
    <div class="row">
      <div class="col s6 offset-s3">
        <h5><span class="e-name">Rule for the script</span></h5>
      </div>
    </div>
    <div class="row">
      <div class="col s8 offset-s2">
        <p>Make sure all the time vaues entered in CSV file are in UTC. Adhoc processor can only do UTC. It can handle events for flights that are from today, tomorrow and the following day, 3 day total.</p>
      </div>
    </div>

  </div>
</div>
