<div class="card-panel" style="width: 100%;" >
  <h5 class="center">Filter flights based on attribute (sample data)</h5>
</div>
<mz-tab [fixedTabWidth]="'true'">
  <mz-tab-item [label]="'Basic Info'">
    <div class="card-panel" style="width: 100%;" >
      <ngx-table [configuration]="configuration" [data]="data" [columns]="basicColumns" (event)="eventEmitted($event)">
      </ngx-table>
    </div>
  </mz-tab-item>
  <mz-tab-item [label]="'Origin Times'">
    <div class="card-panel" style="width: 100%;" >
      <ngx-table [configuration]="configuration" [data]="data" [columns]="originTimeColumns" (event)="eventEmitted($event)">
      </ngx-table>
    </div>
  </mz-tab-item>
  <mz-tab-item [label]="'Destination Times'">
    <div class="card-panel" style="width: 100%;" >
      <ngx-table [configuration]="configuration" [data]="data" [columns]="destinationTimeColumns" (event)="eventEmitted($event)">
      </ngx-table>
    </div>
  </mz-tab-item>
  <mz-tab-item [label]="'Gate Info'">
    <div class="card-panel" style="width: 100%;" >
      <ngx-table [configuration]="configuration" [data]="data" [columns]="gateColumns" (event)="eventEmitted($event)">
      </ngx-table>
    </div>
  </mz-tab-item>
  <mz-tab-item [label]="'Spec Info'">
    <div class="card-panel" style="width: 100%;" >
      <ngx-table [configuration]="configuration" [data]="data" [columns]="specColumns" (event)="eventEmitted($event)">
      </ngx-table>
    </div>
  </mz-tab-item>
  <mz-tab-item [label]="'MISC Info'">
    <div class="card-panel" style="width: 100%;" >
      <ngx-table [configuration]="configuration" [data]="data" [columns]="miscColumns" (event)="eventEmitted($event)">
      </ngx-table>
    </div>
  </mz-tab-item>
</mz-tab>

<div class="card-panel" style="width: 100%;" >
  <h5 class="center">Click on flight to see all attribute</h5>
  <pre> {{ rowData | json }} </pre>

  <!-- <pre> {{ row.identifier }} </pre> -->
</div>
