<mz-dropdown
  [id]="'dropdown-stg1'"
  [belowOrigin]="true"
  [constrainWidth]="false"
  [dropdownButtonId]="'stg1'"
  [gutter]="true"
  [hover]="false"
  [inDuration]="300"
  [outDuration]="300"
  [stopPropagation]="true">
  <mz-dropdown-item><a routerLink="stg1d1">{{ day1 }}</a></mz-dropdown-item>
  <mz-dropdown-divider></mz-dropdown-divider>
  <mz-dropdown-item><a routerLink="stg1d2">{{ day2 }}</a></mz-dropdown-item>
  <mz-dropdown-divider></mz-dropdown-divider>
  <mz-dropdown-item><a routerLink="stg1d3">{{ day3 }}</a></mz-dropdown-item>
</mz-dropdown>
<mz-dropdown
  [id]="'dropdown-stg3'"
  [belowOrigin]="true"
  [constrainWidth]="false"
  [dropdownButtonId]="'stg3'"
  [gutter]="true"
  [hover]="false"
  [inDuration]="300"
  [outDuration]="300"
  [stopPropagation]="true">
  <mz-dropdown-item><a routerLink="stg3d1">{{ day1 }}</a></mz-dropdown-item>
  <mz-dropdown-divider></mz-dropdown-divider>
  <mz-dropdown-item><a routerLink="stg3d2">{{ day2 }}</a></mz-dropdown-item>
  <mz-dropdown-divider></mz-dropdown-divider>
  <mz-dropdown-item><a routerLink="stg3d3">{{ day3 }}</a></mz-dropdown-item>
</mz-dropdown>

<nav>
  <div class="nav-wrapper container">
    <a routerLink="" class="brand-logo logo waves-effect waves-light">MCEG</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
        true}">
        <a routerLink="guide" class="waves-effect waves-light">Guide</a>
      </li>
      <!-- <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
        true}">
        <a routerLink="demo" class="waves-effect waves-light">Demo</a>
      </li> -->
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
        true}">
        <a class="waves-effect waves-light" id="stg1">MVT-STAGE1</a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
        true}">
        <a class="waves-effect waves-light" id="stg3">MVT-STAGE3</a>
      </li>
    </ul>
  </div>
</nav>



<router-outlet></router-outlet>
