<nav>
  <div class="nav-wrapper container">
    <a routerLink="" class="brand-logo logo waves-effect waves-light">MCEG</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
        true}"><a routerLink="guide" class="waves-effect waves-light">Guide</a></li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
        true}"><a routerLink="demo" class="waves-effect waves-light">Demo</a></li>
    </ul>
  </div>
</nav>


  <router-outlet></router-outlet>


