<mz-dropdown
  [id]="'dropdown-stg1'"
  [belowOrigin]="true"
  [constrainWidth]="false"
  [dropdownButtonId]="'stg1'"
  [gutter]="true"
  [hover]="false"
  [inDuration]="300"
  [outDuration]="300"
  [stopPropagation]="true">
  <mz-dropdown-item><a routerLink="stg1/d0">{{ day0 }}</a></mz-dropdown-item>
  <mz-dropdown-divider></mz-dropdown-divider>
  <mz-dropdown-item><a routerLink="stg1/d1">{{ day1 }}</a></mz-dropdown-item>
  <mz-dropdown-divider></mz-dropdown-divider>
  <mz-dropdown-item><a routerLink="stg1/d2">{{ day2 }}</a></mz-dropdown-item>
  <mz-dropdown-divider></mz-dropdown-divider>
  <mz-dropdown-item><a routerLink="stg1/d3">{{ day3 }}</a></mz-dropdown-item>
  <mz-dropdown-divider></mz-dropdown-divider>
  <mz-dropdown-item><a routerLink="stg1/d4">{{ day4 }}</a></mz-dropdown-item>
  <mz-dropdown-divider></mz-dropdown-divider>
  <mz-dropdown-item><a routerLink="stg1/d5">{{ day5 }}</a></mz-dropdown-item>
  <mz-dropdown-divider></mz-dropdown-divider>
  <mz-dropdown-item><a routerLink="stg1/d6">{{ day6 }}</a></mz-dropdown-item>
  <mz-dropdown-divider></mz-dropdown-divider>
  <mz-dropdown-item><a routerLink="stg1/d7">{{ day7 }}</a></mz-dropdown-item>
</mz-dropdown>
<mz-dropdown
  [id]="'dropdown-stg2'"
  [belowOrigin]="true"
  [constrainWidth]="false"
  [dropdownButtonId]="'stg2'"
  [gutter]="true"
  [hover]="false"
  [inDuration]="300"
  [outDuration]="300"
  [stopPropagation]="true">
  <mz-dropdown-item><a routerLink="stg2/d0">{{ day0 }}</a></mz-dropdown-item>
  <mz-dropdown-divider></mz-dropdown-divider>
  <mz-dropdown-item><a routerLink="stg2/d1">{{ day1 }}</a></mz-dropdown-item>
  <mz-dropdown-divider></mz-dropdown-divider>
  <mz-dropdown-item><a routerLink="stg2/d2">{{ day2 }}</a></mz-dropdown-item>
  <mz-dropdown-divider></mz-dropdown-divider>
  <mz-dropdown-item><a routerLink="stg2/d3">{{ day3 }}</a></mz-dropdown-item>
  <mz-dropdown-divider></mz-dropdown-divider>
  <mz-dropdown-item><a routerLink="stg2/d4">{{ day4 }}</a></mz-dropdown-item>
  <mz-dropdown-divider></mz-dropdown-divider>
  <mz-dropdown-item><a routerLink="stg2/d5">{{ day5 }}</a></mz-dropdown-item>
  <mz-dropdown-divider></mz-dropdown-divider>
  <mz-dropdown-item><a routerLink="stg2/d6">{{ day6 }}</a></mz-dropdown-item>
  <mz-dropdown-divider></mz-dropdown-divider>
  <mz-dropdown-item><a routerLink="stg2/d7">{{ day7 }}</a></mz-dropdown-item>
</mz-dropdown>
<mz-dropdown
  [id]="'dropdown-stg3'"
  [belowOrigin]="true"
  [constrainWidth]="false"
  [dropdownButtonId]="'stg3'"
  [gutter]="true"
  [hover]="false"
  [inDuration]="300"
  [outDuration]="300"
  [stopPropagation]="true">
  <mz-dropdown-item><a routerLink="stg3/d0">{{ day0 }}</a></mz-dropdown-item>
  <mz-dropdown-divider></mz-dropdown-divider>
  <mz-dropdown-item><a routerLink="stg3/d1">{{ day1 }}</a></mz-dropdown-item>
  <mz-dropdown-divider></mz-dropdown-divider>
  <mz-dropdown-item><a routerLink="stg3/d2">{{ day2 }}</a></mz-dropdown-item>
  <mz-dropdown-divider></mz-dropdown-divider>
  <mz-dropdown-item><a routerLink="stg3/d3">{{ day3 }}</a></mz-dropdown-item>
  <mz-dropdown-divider></mz-dropdown-divider>
  <mz-dropdown-item><a routerLink="stg3/d4">{{ day4 }}</a></mz-dropdown-item>
  <mz-dropdown-divider></mz-dropdown-divider>
  <mz-dropdown-item><a routerLink="stg3/d5">{{ day5 }}</a></mz-dropdown-item>
  <mz-dropdown-divider></mz-dropdown-divider>
  <mz-dropdown-item><a routerLink="stg3/d6">{{ day6 }}</a></mz-dropdown-item>
  <mz-dropdown-divider></mz-dropdown-divider>
  <mz-dropdown-item><a routerLink="stg3/d7">{{ day7 }}</a></mz-dropdown-item>
</mz-dropdown>

<nav>
  <div class="nav-wrapper container">
    <a routerLink="" class="brand-logo logo waves-effect waves-light">MCEG</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
        true}">
        <a routerLink="guide" class="waves-effect waves-light">Guide</a>
      </li>
      <!-- <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
        true}">
        <a routerLink="demo" class="waves-effect waves-light">Demo</a>
      </li> -->
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
        true}">
        <a class="waves-effect waves-light" id="stg1">MVT-STAGE1</a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
        true}">
        <a class="waves-effect waves-light" id="stg2">MVT-STAGE2</a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
        true}">
        <a class="waves-effect waves-light" id="stg3">MVT-STAGE3</a>
      </li>
    </ul>
  </div>
</nav>



<router-outlet></router-outlet>

<footer style="position:fixed; bottom:0px; width: 100%">
  <div class="footer-copyright">
    <div class="container center color-white">
    © {{year}} JetBlue Airways
    </div>
  </div>
</footer>
