:host /deep/ ngx-table.large-set > div > div:nth-child(2) > table {
  // width: 75vw !important;
  display: block !important;
  overflow-x: scroll !important;
  white-space: nowrap !important;
}
:host /deep/ ngx-table.large-set > div > div:nth-child(2) > table > thead > tr.ngx-table__header > th {
  min-width: 280px;
}
.download {
  margin-top: .8%;
}
