
#nextDay>.input-field>.select-wrapper>.caret {
  color: #e74c3c;
}

#nextDay>.input-field>.select-wrapper>input {
  color: #D1D1D1;
}

.dropdown-content li>a, .dropdown-content li>span {
  text-align: center;
  color: #45B39D;
}

.picker__clear, .picker__day.picker__day--today  {
  color: #e74c3c;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
 color: #fff;
 background-color: #e74c3c;
}

.picker__today, .picker__close{
  color: #45B39D;
}

/* input {
  background-color: white;
} */


.picker__date-display{
  background-color: #424949;
}

#nextDay>.input-field {
  margin-top: 0;
}


