<div class="row">
  <h5 class="center">Input data to post event or click on flight to autofill flight data.</h5>
  <div class="col s8 offset-s2">
    <ul class="collection">
      <li class="collection-item center">
        <p>
          <span class="color-red" *ngIf="selctedEvent == 'OUT'">OUT Event for FS-DailyId: {{ fsDailyId! }} with OUT value: {{ outUTC! }}</span>
          <span class="color-red" *ngIf="selctedEvent == 'OFF'">ADH016_{{flightNum!}}{{utcDate!}}{{origin!}}{{destination!}}{{stdUTC!}}{{selctedEvent!}}{{offUTC!}}</span>
          <span class="color-red" *ngIf="selctedEvent == 'ON_'">ADH016_{{flightNum!}}{{utcDate!}}{{origin!}}{{destination!}}{{stdUTC!}}{{selctedEvent!}}{{onUTC!}}</span>
          <span class="color-red" *ngIf="selctedEvent == 'IN_'">ADH016_{{flightNum!}}{{utcDate!}}{{origin!}}{{destination!}}{{stdUTC!}}{{selctedEvent!}}{{inUTC!}}</span>
          <span class="color-red" *ngIf="selctedEvent == 'ETD'">ADH016_{{flightNum!}}{{utcDate!}}{{origin!}}{{destination!}}{{stdUTC!}}{{selctedEvent!}}{{etdUTC!}}</span>
          <span class="color-red" *ngIf="selctedEvent == 'ETA'">ADH016_{{flightNum!}}{{utcDate!}}{{origin!}}{{destination!}}{{stdUTC!}}{{selctedEvent!}}{{etaUTC!}}</span>
          <span class="color-red" *ngIf="selctedEvent == 'ETO'">ADH016_{{flightNum!}}{{utcDate!}}{{origin!}}{{destination!}}{{stdUTC!}}{{selctedEvent!}}{{etoUTC!}}</span>
          <span class="color-red" *ngIf="selctedEvent == 'EON'">ADH016_{{flightNum!}}{{utcDate!}}{{origin!}}{{destination!}}{{stdUTC!}}{{selctedEvent!}}{{eonUTC!}}</span>
          <span class="color-red" *ngIf="selctedEvent == 'SUB'">ADH016_{{flightNum!}}{{utcDate!}}{{origin!}}{{destination!}}{{stdUTC!}}{{selctedEvent!}}{{newTail!}}</span>
          <span class="color-red" *ngIf="selctedEvent == 'CNL'">ADH016_{{flightNum!}}{{utcDate!}}{{origin!}}{{destination!}}{{stdUTC!}}{{selctedEvent!}}</span>
          <span class="color-red" *ngIf="selctedEvent == 'DEL'">ADH016_{{flightNum!}}{{utcDate!}}{{origin!}}{{destination!}}{{stdUTC!}}{{selctedEvent!}}</span>
          <span class="color-red" *ngIf="selctedEvent == 'GTD'">ADH016_{{flightNum!}}{{utcDate!}}{{origin!}}{{destination!}}{{stdUTC!}}{{selctedEvent!}}{{gtd!}}</span>
          <span class="color-red" *ngIf="selctedEvent == 'GTA'">ADH016_{{flightNum!}}{{utcDate!}}{{origin!}}{{destination!}}{{stdUTC!}}{{selctedEvent!}}{{gta!}}</span>
        </p>
        <ul class="collection">
            <li class="collection-item center">
                <p class="center color-gary">Last Event Response:</p>
                <div *ngIf="buttonEnable == false" class="progress">
                    <div class="indeterminate"></div>
                </div>
            </li>
            <li class="collection-item center">
                <span class="color-red">{{ responseMessage! }}</span>
                <span class="color-red">{{ responseError! }}</span>
            </li>
        </ul>
        <!-- <h6 *ngIf="responseMessage"><span class="color-red">{{ responseMessage! }}</span></h6>
        <h6 *ngIf="responseError"><span class="color-red">{{ responseError! }}</span></h6> -->
      </li>
    </ul>
  </div>
</div>
<div class="row center">
  <mz-select-container class="col s2 offset-s3">
    <select mz-select label="'Environment'" [placeholder]="'Select Environment'" [(ngModel)]="environment" (change)="environment = $event.target.value">
      <option *ngFor="let e of environments" class="left circle" value="{{ e }}">{{ e }}</option>
    </select>
  </mz-select-container>
  <mz-select-container class="col s2 offset-s0">
    <select mz-select [placeholder]="'Select Day'" label="Days" [(ngModel)]="selectedDay" (change)="selectedDay = $event.target.value">
      <option *ngFor="let d of days" class="left circle" value="{{ d.value }}">{{ d.value.toUpperCase() }} ( {{ d.text }} )</option>
    </select>
  </mz-select-container>
  <mz-select-container class="col s2 offset-s0">
    <select mz-select [placeholder]="'Select Event Type'" label="Events" [(ngModel)]="selctedEvent" (change)="selctedEvent = $event.target.value">
      <option *ngFor="let e of events" class="left circle" value="{{ e }}">{{ e }}</option>
    </select>
  </mz-select-container>
</div>


<!-- OUT -->
<div *ngIf="selctedEvent == 'OUT' && environment != null">
  <form (ngSubmit)="onSubmitOUT($event)">
    <div class="row" >
      <mz-input-container class="col s3 offset-s3">
        <input mz-input
          [label]="'FS-DailyId'"
          placeholder=""
          name="daily_id"
          [(ngModel)]="fsDailyId"
          #dailyId="ngModel"
          minlength="7"
          maxlength="7"
          pattern="^[0-9]*$"
          required
          type="text">
      </mz-input-container>
      <mz-input-container class="col s3 offset-s0">
        <input mz-input
          [label]="'OUT in UTC (hhmm)'"
          placeholder=""
          (blur)="$event.target.value = padWithZero($event.target.value); outUTC = padWithZero($event.target.value)"
          name="flight_out_utc"
          [(ngModel)]="outUTC"
          #out="ngModel"
          minlength="1"
          maxlength="4"
          pattern="^[0-9]*$"
          required
          type="text">
      </mz-input-container>
    </div>
    <!-- submit -->
    <div class="row center">
      <button class="waves-effect waves-light btn"
              type="submit"
              value="Post"
              [disabled]="dailyId.invalid
              || out.invalid
              || buttonEnable == false">POST</button>
      <button type="reset" value="Reset" class="waves-effect waves-light btn" (click)="reset()">RESET</button>
    </div>
  </form>
</div>
