<div class="row">
  <h5 class="center">Input data to post event or click on flight to autofill flight data.</h5>
  <h5 class="center">**** Wait roughly 30 to 80 second for data to update on table after posting an event ****</h5>
  <div class="col s8 offset-s2">
    <ul class="collection">
      <li class="collection-item center">
        <p>
          <span class="color-red" *ngIf="selctedEvent == 'OUT'">OUT Event for FS-DailyId: {{ fsDailyId! }} with OUT value: {{ outUTC! }}</span>
          <span class="color-red" *ngIf="selctedEvent == 'OFF'">OFF Event for FS-DailyId: {{ fsDailyId! }} with OFF value: {{ offUTC! }}</span>
          <span class="color-red" *ngIf="selctedEvent == 'ON'">ON Event for FS-DailyId: {{ fsDailyId! }} with ON value: {{ onUTC! }}</span>
          <span class="color-red" *ngIf="selctedEvent == 'IN'">IN Event for FS-DailyId: {{ fsDailyId! }} with IN value: {{ inUTC! }}</span>
          <span class="color-red" *ngIf="selctedEvent == 'ETD'">ETD Event for FS-DailyId: {{ fsDailyId! }} with ETD value: {{ etdUTC! }}</span>
          <span class="color-red" *ngIf="selctedEvent == 'ETA'">ETA Event for FS-DailyId: {{ fsDailyId! }} with ETA value: {{ etaUTC! }}</span>
          <span class="color-red" *ngIf="selctedEvent == 'ETO'">ETO Event for FS-DailyId: {{ fsDailyId! }} with ETO value: {{ etoUTC! }}</span>
          <span class="color-red" *ngIf="selctedEvent == 'EON'">EON Event for FS-DailyId: {{ fsDailyId! }} with EON value: {{ eonUTC! }}</span>
          <span class="color-red" *ngIf="selctedEvent == 'SUB'">SUB Event for FS-DailyId: {{ fsDailyId! }} with Tail value: {{ newTail! }}</span>
          <span class="color-red" *ngIf="selctedEvent == 'CNL'">CNL Event for FS-DailyId: {{ fsDailyId! }}</span>
          <span class="color-red" *ngIf="selctedEvent == 'DEL'">DEL Event for FS-DailyId: {{ fsDailyId! }}</span>
          <span class="color-red" *ngIf="selctedEvent == 'GTD'">GTD Event for FS-DailyId: {{ fsDailyId! }} with Dep Gate value: {{ gtd! }}</span>
          <span class="color-red" *ngIf="selctedEvent == 'GTA'">GTA Event for FS-DailyId: {{ fsDailyId! }} with Arr Gate value: {{ gta! }}</span>
          <span class="color-red" *ngIf="selctedEvent == 'REM'">REM Event for FS-DailyId: {{ fsDailyId! }}</span>
          <span class="color-red" *ngIf="selctedEvent == 'RIN'">RIN Event for FS-DailyId: {{ fsDailyId! }}</span>
          <span class="color-red" *ngIf="selctedEvent == 'ASN'">ASN Event for FS-DailyId: {{ fsDailyId! }}</span>
          <span class="color-red" *ngIf="selctedEvent == 'UDD'">UDD Event for FS-DailyId: {{ fsDailyId! }}</span>
          <span class="color-red" *ngIf="selctedEvent == 'UDA'">UDA Event for FS-DailyId: {{ fsDailyId! }}</span>
          <span class="color-red" *ngIf="selctedEvent == 'RMD'">RMD Event for FS-DailyId: {{ fsDailyId! }}</span>
          <span class="color-red" *ngIf="selctedEvent == 'RMA'">RMA Event for FS-DailyId: {{ fsDailyId! }}</span>
          <span class="color-red" *ngIf="selctedEvent == 'GRD'">GRD Event for FS-DailyId: {{ fsDailyId! }}</span>
          <span class="color-red" *ngIf="selctedEvent == 'AIR'">AIR Event for FS-DailyId: {{ fsDailyId! }}</span>
          <span class="color-red" *ngIf="selctedEvent == 'DVC'">DVC Event for FS-DailyId: {{ fsDailyId! }} with New City value: {{ diversionCity! }} | ETA value: {{ etaUTC! }}</span>
          <span class="color-red" *ngIf="selctedEvent == 'NEW'">NEW Event with Flight Num: {{ flightNum! }} UTC Date: {{ utcDate! }} Origin: {{  origin! }} destination: {{ destination! }}
            STD: {{ stdUTC! }} STA: {{ staUTC! }} Next Day Cross: {{ nextDay! }} Tail Num: {{ newTail! }}</span>
        </p>
        <ul class="collection">
            <li class="collection-item center">
                <p class="center color-gary">Last Event Response:</p>
                <div *ngIf="buttonEnable == false" class="progress">
                    <div class="indeterminate"></div>
                </div>
            </li>
            <li *ngIf="responseMessage || responseError" class="collection-item center">
                <span *ngIf="responseMessage" class="color-teal">Success: {{ responseMessage! }}</span>
                <span *ngIf="responseError" class="color-red">Error: {{ responseError! }}</span>
            </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="row center">
  <mz-select-container class="col s2 offset-s3">
    <select mz-select label="'Environment'" [placeholder]="'Select Environment'" [(ngModel)]="environment" (change)="environment = $event.target.value">
      <option *ngFor="let e of environments" class="left circle" value="{{ e }}">{{ e }}</option>
    </select>
  </mz-select-container>
  <mz-select-container class="col s2 offset-s0">
    <select mz-select [placeholder]="'Select Day'" label="Days" [(ngModel)]="selectedDay" (change)="selectedDay = $event.target.value">
      <option *ngFor="let d of days" class="left circle" value="{{ d.value }}">{{ d.value.toUpperCase() }} ( {{ d.text }} )</option>
    </select>
  </mz-select-container>
  <mz-select-container class="col s2 offset-s0">
    <select mz-select [placeholder]="'Select Event Type'" label="Events" [(ngModel)]="selctedEvent" (change)="selctedEvent = $event.target.value">
      <option *ngFor="let e of events" class="left circle" value="{{ e }}">{{ e }}</option>
    </select>
  </mz-select-container>
</div>


<!-- OUT -->
<div *ngIf="selctedEvent == 'OUT' && environment != null">
  <form (ngSubmit)="onSubmitOUT($event)">
    <div class="row" >
      <mz-input-container class="col s3 offset-s3">
        <input mz-input
          [label]="'FS-DailyId'"
          placeholder=""
          name="daily_id"
          [(ngModel)]="fsDailyId"
          #dailyId="ngModel"
          minlength="7"
          maxlength="7"
          pattern="^[0-9]*$"
          required
          type="text">
      </mz-input-container>
      <mz-input-container class="col s3 offset-s0">
        <input mz-input
          [label]="'OUT in UTC (hhmm)'"
          placeholder=""
          (blur)="$event.target.value = padWithZero($event.target.value); outUTC = padWithZero($event.target.value)"
          name="flight_out_utc"
          [(ngModel)]="outUTC"
          #out="ngModel"
          minlength="1"
          maxlength="4"
          pattern="^[0-9]*$"
          required
          type="text">
      </mz-input-container>
    </div>
    <!-- submit -->
    <div class="row center">
      <button class="waves-effect waves-light btn"
              type="submit"
              value="Post"
              [disabled]="dailyId.invalid
              || out.invalid
              || buttonEnable == false">POST</button>
      <button type="reset" value="Reset" class="waves-effect waves-light btn" (click)="reset()">RESET</button>
    </div>
  </form>
</div>


<!-- OFF -->
<div *ngIf="selctedEvent == 'OFF' && environment != null">
  <form (ngSubmit)="onSubmitOFF($event)">
    <div class="row" >
      <mz-input-container class="col s3 offset-s3">
        <input mz-input
          [label]="'FS-DailyId'"
          placeholder=""
          name="daily_id"
          [(ngModel)]="fsDailyId"
          #dailyId="ngModel"
          minlength="7"
          maxlength="7"
          pattern="^[0-9]*$"
          required
          type="text">
      </mz-input-container>
      <mz-input-container class="col s3 offset-s0">
        <input mz-input
          [label]="'OFF in UTC (hhmm)'"
          placeholder=""
          (blur)="$event.target.value = padWithZero($event.target.value); offUTC = padWithZero($event.target.value)"
          name="flight_off_utc"
          [(ngModel)]="offUTC"
          #off="ngModel"
          minlength="1"
          maxlength="4"
          pattern="^[0-9]*$"
          required
          type="text">
      </mz-input-container>
    </div>
    <!-- submit -->
    <div class="row center">
      <button class="waves-effect waves-light btn"
              type="submit"
              value="Post"
              [disabled]="dailyId.invalid
              || off.invalid
              || buttonEnable == false">POST</button>
      <button type="reset" value="Reset" class="waves-effect waves-light btn" (click)="reset()">RESET</button>
    </div>
  </form>
</div>


<!-- ON -->
<div *ngIf="selctedEvent == 'ON' && environment != null">
  <form (ngSubmit)="onSubmitON($event)">
    <div class="row" >
      <mz-input-container class="col s3 offset-s3">
        <input mz-input
          [label]="'FS-DailyId'"
          placeholder=""
          name="daily_id"
          [(ngModel)]="fsDailyId"
          #dailyId="ngModel"
          minlength="7"
          maxlength="7"
          pattern="^[0-9]*$"
          required
          type="text">
      </mz-input-container>
      <mz-input-container class="col s3 offset-s0">
        <input mz-input
          [label]="'ON in UTC (hhmm)'"
          placeholder=""
          (blur)="$event.target.value = padWithZero($event.target.value); onUTC = padWithZero($event.target.value)"
          name="flight_on_utc"
          [(ngModel)]="onUTC"
          #on="ngModel"
          minlength="1"
          maxlength="4"
          pattern="^[0-9]*$"
          required
          type="text">
      </mz-input-container>
    </div>
    <!-- submit -->
    <div class="row center">
      <button class="waves-effect waves-light btn"
              type="submit"
              value="Post"
              [disabled]="dailyId.invalid
              || on.invalid
              || buttonEnable == false">POST</button>
      <button type="reset" value="Reset" class="waves-effect waves-light btn" (click)="reset()">RESET</button>
    </div>
  </form>
</div>


<!-- IN -->
<div *ngIf="selctedEvent == 'IN' && environment != null">
  <form (ngSubmit)="onSubmitIN($event)">
    <div class="row" >
      <mz-input-container class="col s3 offset-s3">
        <input mz-input
          [label]="'FS-DailyId'"
          placeholder=""
          name="daily_id"
          [(ngModel)]="fsDailyId"
          #dailyId="ngModel"
          minlength="7"
          maxlength="7"
          pattern="^[0-9]*$"
          required
          type="text">
      </mz-input-container>
      <mz-input-container class="col s3 offset-s0">
        <input mz-input
          [label]="'IN in UTC (hhmm)'"
          placeholder=""
          (blur)="$event.target.value = padWithZero($event.target.value); inUTC = padWithZero($event.target.value)"
          name="flight_in_utc"
          [(ngModel)]="inUTC"
          #in="ngModel"
          minlength="1"
          maxlength="4"
          pattern="^[0-9]*$"
          required
          type="text">
      </mz-input-container>
    </div>
    <!-- submit -->
    <div class="row center">
      <button class="waves-effect waves-light btn"
              type="submit"
              value="Post"
              [disabled]="dailyId.invalid
              || in.invalid
              || buttonEnable == false">POST</button>
      <button type="reset" value="Reset" class="waves-effect waves-light btn" (click)="reset()">RESET</button>
    </div>
  </form>
</div>


<!-- ETD -->
<div *ngIf="selctedEvent == 'ETD' && environment != null">
  <form (ngSubmit)="onSubmitETD($event)">
    <div class="row" >
      <mz-input-container class="col s3 offset-s3">
        <input mz-input
          [label]="'FS-DailyId'"
          placeholder=""
          name="daily_id"
          [(ngModel)]="fsDailyId"
          #dailyId="ngModel"
          minlength="7"
          maxlength="7"
          pattern="^[0-9]*$"
          required
          type="text">
      </mz-input-container>
      <mz-input-container class="col s3 offset-s0">
        <input mz-input
          [label]="'ETD in UTC (hhmm)'"
          placeholder=""
          (blur)="$event.target.value = padWithZero($event.target.value); etdUTC = padWithZero($event.target.value)"
          name="flight_etd_utc"
          [(ngModel)]="etdUTC"
          #etd="ngModel"
          minlength="1"
          maxlength="4"
          pattern="^[0-9]*$"
          required
          type="text">
      </mz-input-container>
    </div>
    <!-- submit -->
    <div class="row center">
      <button class="waves-effect waves-light btn"
              type="submit"
              value="Post"
              [disabled]="dailyId.invalid
              || etd.invalid
              || buttonEnable == false">POST</button>
      <button type="reset" value="Reset" class="waves-effect waves-light btn" (click)="reset()">RESET</button>
    </div>
  </form>
</div>


<!-- ETA -->
<div *ngIf="selctedEvent == 'ETA' && environment != null">
  <form (ngSubmit)="onSubmitETA($event)">
    <div class="row" >
      <mz-input-container class="col s3 offset-s3">
        <input mz-input
          [label]="'FS-DailyId'"
          placeholder=""
          name="daily_id"
          [(ngModel)]="fsDailyId"
          #dailyId="ngModel"
          minlength="7"
          maxlength="7"
          pattern="^[0-9]*$"
          required
          type="text">
      </mz-input-container>
      <mz-input-container class="col s3 offset-s0">
        <input mz-input
          [label]="'ETA in UTC (hhmm)'"
          placeholder=""
          (blur)="$event.target.value = padWithZero($event.target.value); etaUTC = padWithZero($event.target.value)"
          name="flight_eta_utc"
          [(ngModel)]="etaUTC"
          #eta="ngModel"
          minlength="1"
          maxlength="4"
          pattern="^[0-9]*$"
          required
          type="text">
      </mz-input-container>
    </div>
    <!-- submit -->
    <div class="row center">
      <button class="waves-effect waves-light btn"
              type="submit"
              value="Post"
              [disabled]="dailyId.invalid
              || eta.invalid
              || buttonEnable == false">POST</button>
      <button type="reset" value="Reset" class="waves-effect waves-light btn" (click)="reset()">RESET</button>
    </div>
  </form>
</div>


<!-- ETO -->
<div *ngIf="selctedEvent == 'ETO' && environment != null">
  <form (ngSubmit)="onSubmitETO($event)">
    <div class="row" >
      <mz-input-container class="col s3 offset-s3">
        <input mz-input
          [label]="'FS-DailyId'"
          placeholder=""
          name="daily_id"
          [(ngModel)]="fsDailyId"
          #dailyId="ngModel"
          minlength="7"
          maxlength="7"
          pattern="^[0-9]*$"
          required
          type="text">
      </mz-input-container>
      <mz-input-container class="col s3 offset-s0">
        <input mz-input
          [label]="'ETO in UTC (hhmm)'"
          placeholder=""
          (blur)="$event.target.value = padWithZero($event.target.value); etoUTC = padWithZero($event.target.value)"
          name="flight_eto_utc"
          [(ngModel)]="etoUTC"
          #eto="ngModel"
          minlength="1"
          maxlength="4"
          pattern="^[0-9]*$"
          required
          type="text">
      </mz-input-container>
    </div>
    <!-- submit -->
    <div class="row center">
      <button class="waves-effect waves-light btn"
              type="submit"
              value="Post"
              [disabled]="dailyId.invalid
              || eto.invalid
              || buttonEnable == false">POST</button>
      <button type="reset" value="Reset" class="waves-effect waves-light btn" (click)="reset()">RESET</button>
    </div>
  </form>
</div>


<!-- EON -->
<div *ngIf="selctedEvent == 'EON' && environment != null">
  <form (ngSubmit)="onSubmitEON($event)">
    <div class="row" >
      <mz-input-container class="col s3 offset-s3">
        <input mz-input
          [label]="'FS-DailyId'"
          placeholder=""
          name="daily_id"
          [(ngModel)]="fsDailyId"
          #dailyId="ngModel"
          minlength="7"
          maxlength="7"
          pattern="^[0-9]*$"
          required
          type="text">
      </mz-input-container>
      <mz-input-container class="col s3 offset-s0">
        <input mz-input
          [label]="'EON in UTC (hhmm)'"
          placeholder=""
          (blur)="$event.target.value = padWithZero($event.target.value); eonUTC = padWithZero($event.target.value)"
          name="flight_eon_utc"
          [(ngModel)]="eonUTC"
          #eon="ngModel"
          minlength="1"
          maxlength="4"
          pattern="^[0-9]*$"
          required
          type="text">
      </mz-input-container>
    </div>
    <!-- submit -->
    <div class="row center">
      <button class="waves-effect waves-light btn"
              type="submit"
              value="Post"
              [disabled]="dailyId.invalid
              || eon.invalid
              || buttonEnable == false">POST</button>
      <button type="reset" value="Reset" class="waves-effect waves-light btn" (click)="reset()">RESET</button>
    </div>
  </form>
</div>


<!-- SUB -->
<div *ngIf="selctedEvent == 'SUB' && environment != null">
  <form (ngSubmit)="onSubmitSUB($event)">
    <div class="row" >
      <mz-input-container class="col s3 offset-s3">
        <input mz-input
          [label]="'FS-DailyId'"
          placeholder=""
          name="daily_id"
          [(ngModel)]="fsDailyId"
          #dailyId="ngModel"
          minlength="7"
          maxlength="7"
          pattern="^[0-9]*$"
          required
          type="text">
      </mz-input-container>
      <mz-input-container class="col s3 offset-s0">
        <input mz-input
          [label]="'Tail Number (3 or 4 digit)'"
          placeholder=""
          name="flight_eon_utc"
          [(ngModel)]="newTail"
          #tail="ngModel"
          minlength="3"
          maxlength="4"
          pattern="^[0-9]*$"
          required
          type="text">
      </mz-input-container>
    </div>
    <!-- submit -->
    <div class="row center">
      <button class="waves-effect waves-light btn"
              type="submit"
              value="Post"
              [disabled]="dailyId.invalid
              || tail.invalid
              || buttonEnable == false">POST</button>
      <button type="reset" value="Reset" class="waves-effect waves-light btn" (click)="reset()">RESET</button>
    </div>
  </form>
</div>


<!-- CNL -->
<div *ngIf="selctedEvent == 'CNL' && environment != null">
  <form (ngSubmit)="onSubmitCNL($event)">
    <div class="row" >
      <mz-input-container class="col s2 offset-s5">
        <input mz-input
          [label]="'FS-DailyId'"
          placeholder=""
          name="daily_id"
          [(ngModel)]="fsDailyId"
          #dailyId="ngModel"
          minlength="7"
          maxlength="7"
          pattern="^[0-9]*$"
          required
          type="text">
      </mz-input-container>
    </div>
    <!-- submit -->
    <div class="row center">
      <button class="waves-effect waves-light btn"
              type="submit"
              value="Post"
              [disabled]="dailyId.invalid
              || buttonEnable == false">POST</button>
      <button type="reset" value="Reset" class="waves-effect waves-light btn" (click)="reset()">RESET</button>
    </div>
  </form>
</div>


<!-- DEL -->
<div *ngIf="selctedEvent == 'DEL' && environment != null">
  <form (ngSubmit)="onSubmitDEL($event)">
    <div class="row" >
      <mz-input-container class="col s2 offset-s5">
        <input mz-input
          [label]="'FS-DailyId'"
          placeholder=""
          name="daily_id"
          [(ngModel)]="fsDailyId"
          #dailyId="ngModel"
          minlength="7"
          maxlength="7"
          pattern="^[0-9]*$"
          required
          type="text">
      </mz-input-container>
    </div>
    <!-- submit -->
    <div class="row center">
      <button class="waves-effect waves-light btn"
              type="submit"
              value="Post"
              [disabled]="dailyId.invalid
              || buttonEnable == false">POST</button>
      <button type="reset" value="Reset" class="waves-effect waves-light btn" (click)="reset()">RESET</button>
    </div>
  </form>
</div>


<!-- GTD -->
<div *ngIf="selctedEvent == 'GTD' && environment != null">
  <form (ngSubmit)="onSubmitGTD($event)">
    <div class="row" >
      <mz-input-container class="col s3 offset-s3">
        <input mz-input
          [label]="'FS-DailyId'"
          placeholder=""
          name="daily_id"
          [(ngModel)]="fsDailyId"
          #dailyId="ngModel"
          minlength="7"
          maxlength="7"
          pattern="^[0-9]*$"
          required
          type="text">
      </mz-input-container>
      <mz-input-container class="col s3 offset-s0">
        <input mz-input
          [label]="'Dep Gate (Max 4 Char)'"
          placeholder=""
          name="flight_dep_gate"
          [(ngModel)]="gtd"
          #depGate="ngModel"
          minlength="1"
          maxlength="4"
          pattern="^[a-zA-Z0-9]+$"
          required
          type="text">
      </mz-input-container>
    </div>
    <!-- submit -->
    <div class="row center">
      <button class="waves-effect waves-light btn"
              type="submit"
              value="Post"
              [disabled]="dailyId.invalid
              || depGate.invalid
              || buttonEnable == false">POST</button>
      <button type="reset" value="Reset" class="waves-effect waves-light btn" (click)="reset()">RESET</button>
    </div>
  </form>
</div>


<!-- GTA -->
<div *ngIf="selctedEvent == 'GTA' && environment != null">
  <form (ngSubmit)="onSubmitGTA($event)">
    <div class="row" >
      <mz-input-container class="col s3 offset-s3">
        <input mz-input
          [label]="'FS-DailyId'"
          placeholder=""
          name="daily_id"
          [(ngModel)]="fsDailyId"
          #dailyId="ngModel"
          minlength="7"
          maxlength="7"
          pattern="^[0-9]*$"
          required
          type="text">
      </mz-input-container>
      <mz-input-container class="col s3 offset-s0">
        <input mz-input
          [label]="'Arr Gate (Max 4 Char)'"
          placeholder=""
          name="flight_arr_gate"
          [(ngModel)]="gta"
          #arrGate="ngModel"
          minlength="1"
          maxlength="4"
          pattern="^[a-zA-Z0-9]+$"
          required
          type="text">
      </mz-input-container>
    </div>
    <!-- submit -->
    <div class="row center">
      <button class="waves-effect waves-light btn"
              type="submit"
              value="Post"
              [disabled]="dailyId.invalid
              || arrGate.invalid
              || buttonEnable == false">POST</button>
      <button type="reset" value="Reset" class="waves-effect waves-light btn" (click)="reset()">RESET</button>
    </div>
  </form>
</div>


<!-- RIN -->
<div *ngIf="selctedEvent == 'RIN' && environment != null">
  <form (ngSubmit)="onSubmitRIN($event)">
    <div class="row" >
      <mz-input-container class="col s2 offset-s5">
        <input mz-input
          [label]="'FS-DailyId'"
          placeholder=""
          name="daily_id"
          [(ngModel)]="fsDailyId"
          #dailyId="ngModel"
          minlength="7"
          maxlength="7"
          pattern="^[0-9]*$"
          required
          type="text">
      </mz-input-container>
    </div>
    <!-- submit -->
    <div class="row center">
      <button class="waves-effect waves-light btn"
              type="submit"
              value="Post"
              [disabled]="dailyId.invalid
              || buttonEnable == false">POST</button>
      <button type="reset" value="Reset" class="waves-effect waves-light btn" (click)="reset()">RESET</button>
    </div>
  </form>
</div>


<!-- ASN -->
<div *ngIf="selctedEvent == 'ASN' && environment != null">
  <form (ngSubmit)="onSubmitASN($event)">
    <div class="row" >
      <mz-input-container class="col s3 offset-s3">
        <input mz-input
          [label]="'FS-DailyId'"
          placeholder=""
          name="daily_id"
          [(ngModel)]="fsDailyId"
          #dailyId="ngModel"
          minlength="7"
          maxlength="7"
          pattern="^[0-9]*$"
          required
          type="text">
      </mz-input-container>
      <mz-input-container class="col s3 offset-s0">
        <input mz-input
          [label]="'Tail Number (3 or 4 digit)'"
          placeholder=""
          name="flight_eon_utc"
          [(ngModel)]="newTail"
          #tail="ngModel"
          minlength="3"
          maxlength="4"
          pattern="^[0-9]*$"
          required
          type="text">
      </mz-input-container>
    </div>
    <!-- submit -->
    <div class="row center">
      <button class="waves-effect waves-light btn"
              type="submit"
              value="Post"
              [disabled]="dailyId.invalid
              || tail.invalid
              || buttonEnable == false">POST</button>
      <button type="reset" value="Reset" class="waves-effect waves-light btn" (click)="reset()">RESET</button>
    </div>
  </form>
</div>


<!-- REM -->
<div *ngIf="selctedEvent == 'REM' && environment != null">
  <form (ngSubmit)="onSubmitREM($event)">
    <div class="row" >
      <mz-input-container class="col s2 offset-s5">
        <input mz-input
          [label]="'FS-DailyId'"
          placeholder=""
          name="daily_id"
          [(ngModel)]="fsDailyId"
          #dailyId="ngModel"
          minlength="7"
          maxlength="7"
          pattern="^[0-9]*$"
          required
          type="text">
      </mz-input-container>
    </div>
    <!-- submit -->
    <div class="row center">
      <button class="waves-effect waves-light btn"
              type="submit"
              value="Post"
              [disabled]="dailyId.invalid
              || buttonEnable == false">POST</button>
      <button type="reset" value="Reset" class="waves-effect waves-light btn" (click)="reset()">RESET</button>
    </div>
  </form>
</div>


<!-- UDD -->
<div *ngIf="selctedEvent == 'UDD' && environment != null">
  <form (ngSubmit)="onSubmitUDD($event)">
    <div class="row" >
      <mz-input-container class="col s2 offset-s5">
        <input mz-input
          [label]="'FS-DailyId'"
          placeholder=""
          name="daily_id"
          [(ngModel)]="fsDailyId"
          #dailyId="ngModel"
          minlength="7"
          maxlength="7"
          pattern="^[0-9]*$"
          required
          type="text">
      </mz-input-container>
    </div>
    <!-- submit -->
    <div class="row center">
      <button class="waves-effect waves-light btn"
              type="submit"
              value="Post"
              [disabled]="dailyId.invalid
              || buttonEnable == false">POST</button>
      <button type="reset" value="Reset" class="waves-effect waves-light btn" (click)="reset()">RESET</button>
    </div>
  </form>
</div>


<!-- UDA -->
<div *ngIf="selctedEvent == 'UDA' && environment != null">
  <form (ngSubmit)="onSubmitUDA($event)">
    <div class="row" >
      <mz-input-container class="col s2 offset-s5">
        <input mz-input
          [label]="'FS-DailyId'"
          placeholder=""
          name="daily_id"
          [(ngModel)]="fsDailyId"
          #dailyId="ngModel"
          minlength="7"
          maxlength="7"
          pattern="^[0-9]*$"
          required
          type="text">
      </mz-input-container>
    </div>
    <!-- submit -->
    <div class="row center">
      <button class="waves-effect waves-light btn"
              type="submit"
              value="Post"
              [disabled]="dailyId.invalid
              || buttonEnable == false">POST</button>
      <button type="reset" value="Reset" class="waves-effect waves-light btn" (click)="reset()">RESET</button>
    </div>
  </form>
</div>


<!-- RMD -->
<div *ngIf="selctedEvent == 'RMD' && environment != null">
  <form (ngSubmit)="onSubmitRMD($event)">
    <div class="row" >
      <mz-input-container class="col s2 offset-s5">
        <input mz-input
          [label]="'FS-DailyId'"
          placeholder=""
          name="daily_id"
          [(ngModel)]="fsDailyId"
          #dailyId="ngModel"
          minlength="7"
          maxlength="7"
          pattern="^[0-9]*$"
          required
          type="text">
      </mz-input-container>
    </div>
    <!-- submit -->
    <div class="row center">
      <button class="waves-effect waves-light btn"
              type="submit"
              value="Post"
              [disabled]="dailyId.invalid
              || buttonEnable == false">POST</button>
      <button type="reset" value="Reset" class="waves-effect waves-light btn" (click)="reset()">RESET</button>
    </div>
  </form>
</div>


<!-- RMA -->
<div *ngIf="selctedEvent == 'RMA' && environment != null">
  <form (ngSubmit)="onSubmitRMA($event)">
    <div class="row" >
      <mz-input-container class="col s2 offset-s5">
        <input mz-input
          [label]="'FS-DailyId'"
          placeholder=""
          name="daily_id"
          [(ngModel)]="fsDailyId"
          #dailyId="ngModel"
          minlength="7"
          maxlength="7"
          pattern="^[0-9]*$"
          required
          type="text">
      </mz-input-container>
    </div>
    <!-- submit -->
    <div class="row center">
      <button class="waves-effect waves-light btn"
              type="submit"
              value="Post"
              [disabled]="dailyId.invalid
              || buttonEnable == false">POST</button>
      <button type="reset" value="Reset" class="waves-effect waves-light btn" (click)="reset()">RESET</button>
    </div>
  </form>
</div>


<!-- GRD -->
<div *ngIf="selctedEvent == 'GRD' && environment != null">
  <form (ngSubmit)="onSubmitGRD($event)">
    <div class="row" >
      <mz-input-container class="col s2 offset-s5">
        <input mz-input
          [label]="'FS-DailyId'"
          placeholder=""
          name="daily_id"
          [(ngModel)]="fsDailyId"
          #dailyId="ngModel"
          minlength="7"
          maxlength="7"
          pattern="^[0-9]*$"
          required
          type="text">
      </mz-input-container>
    </div>
    <!-- submit -->
    <div class="row center">
      <button class="waves-effect waves-light btn"
              type="submit"
              value="Post"
              [disabled]="dailyId.invalid
              || buttonEnable == false">POST</button>
      <button type="reset" value="Reset" class="waves-effect waves-light btn" (click)="reset()">RESET</button>
    </div>
  </form>
</div>


<!-- AIR -->
<div *ngIf="selctedEvent == 'AIR' && environment != null">
  <form (ngSubmit)="onSubmitAIR($event)">
    <div class="row" >
      <mz-input-container class="col s2 offset-s5">
        <input mz-input
          [label]="'FS-DailyId'"
          placeholder=""
          name="daily_id"
          [(ngModel)]="fsDailyId"
          #dailyId="ngModel"
          minlength="7"
          maxlength="7"
          pattern="^[0-9]*$"
          required
          type="text">
      </mz-input-container>
    </div>
    <!-- submit -->
    <div class="row center">
      <button class="waves-effect waves-light btn"
              type="submit"
              value="Post"
              [disabled]="dailyId.invalid
              || buttonEnable == false">POST</button>
      <button type="reset" value="Reset" class="waves-effect waves-light btn" (click)="reset()">RESET</button>
    </div>
  </form>
</div>


<!-- DVC -->
<div *ngIf="selctedEvent == 'DVC' && environment != null">
  <form (ngSubmit)="onSubmitDVC($event)">
    <div class="row" >
      <mz-input-container class="col s2 offset-s3">
        <input mz-input
          [label]="'FS-DailyId'"
          placeholder=""
          name="daily_id"
          [(ngModel)]="fsDailyId"
          #dailyId="ngModel"
          minlength="7"
          maxlength="7"
          pattern="^[0-9]*$"
          required
          type="text">
      </mz-input-container>
      <mz-input-container class="col s2 offset-s0">
        <input mz-input
          [label]="'Diversion City (Ex: JFK)'"
          placeholder=""
          (change)="$event.target.value = upcaseValue($event.target.value); diversionCity = upcaseValue($event.target.value)"
          (blur)="$event.target.value = upcaseValue($event.target.value); diversionCity = upcaseValue($event.target.value)"
          name="flight_diversion_city"
          [(ngModel)]="diversionCity"
          #dCity="ngModel"
          minlength="3"
          maxlength="3"
          pattern="^[a-zA-Z]*$"
          required
          type="text">
      </mz-input-container>
      <mz-input-container class="col s2 offset-s0">
        <input mz-input
          [label]="'ETA in UTC (hhmm)'"
          placeholder=""
          (blur)="$event.target.value = padWithZero($event.target.value); etaUTC = padWithZero($event.target.value)"
          name="flight_eta_utc"
          [(ngModel)]="etaUTC"
          #eta="ngModel"
          minlength="1"
          maxlength="4"
          pattern="^[0-9]*$"
          required
          type="text">
      </mz-input-container>
    </div>
    <!-- submit -->
    <div class="row center">
      <button class="waves-effect waves-light btn"
              type="submit"
              value="Post"
              [disabled]="dailyId.invalid
              || dCity.invalid
              || eta.invalid
              || buttonEnable == false">POST</button>
      <button type="reset" value="Reset" class="waves-effect waves-light btn" (click)="reset()">RESET</button>
    </div>
  </form>
</div>


<!-- NEW -->
<div *ngIf="selctedEvent == 'NEW' && environment != null">
  <form (ngSubmit)="onSubmitNEW($event)">
    <div class="row" >
      <mz-input-container class="col s3">
        <input mz-input
          [label]="'Flight Number'"
          placeholder=""
          name="flight_num"
          [(ngModel)]="flightNum"
          #flightNumber="ngModel"
          minlength="1"
          maxlength="4"
          pattern="^[0-9]*$"
          required
          type="text">
      </mz-input-container>
      <mz-datepicker-container class="col s3">
        <input mz-datepicker
          [options]="options"
          [(ngModel)]="utcDate"
          name="flight_origin_date_utc"
          placeholder="Flight Origin Date (UTC)"
          #flightOriginDate="ngModel"
          type="text"
          required minlength="8" maxlength="8" pattern="^[0-9]*$">
      </mz-datepicker-container>
      <mz-input-container class="col s3">
        <input mz-input
          [label]="'Origin City (Ex: JFK)'"
          placeholder=""
          (change)="$event.target.value = upcaseValue($event.target.value); origin = upcaseValue($event.target.value)"
          (blur)="$event.target.value = upcaseValue($event.target.value); origin = upcaseValue($event.target.value)"
          name="flight_origin_city"
          [(ngModel)]="origin"
          #originCity="ngModel"
          minlength="3"
          maxlength="3"
          pattern="^[a-zA-Z]*$"
          required
          type="text">
      </mz-input-container>
      <mz-input-container class="col s3">
        <input mz-input
          [label]="'Destination City (Ex: BOS)'"
          placeholder=""
          (change)="$event.target.value = upcaseValue($event.target.value); destination = upcaseValue($event.target.value)"
          (blur)="$event.target.value = upcaseValue($event.target.value); destination = upcaseValue($event.target.value)"
          name="flight_destination_city"
          [(ngModel)]="destination"
          #destinationCity="ngModel"
          minlength="3"
          maxlength="3"
          pattern="^[a-zA-Z]*$"
          required
          type="text">
      </mz-input-container>
    </div>
    <div class="row">
      <mz-input-container class="col s3">
        <input mz-input
          [label]="'STD in UTC (hhmm)'"
          placeholder=""
          (blur)="$event.target.value = padWithZero($event.target.value); stdUTC = padWithZero($event.target.value)"
          name="flight_std_utc"
          [(ngModel)]="stdUTC"
          #std="ngModel"
          minlength="1"
          maxlength="4"
          pattern="^[0-9]*$"
          required
          type="text">
      </mz-input-container>
      <mz-input-container class="col s3">
        <input mz-input
          [label]="'STA in UTC (hhmm)'"
          placeholder=""
          (blur)="$event.target.value = padWithZero($event.target.value); staUTC = padWithZero($event.target.value)"
          name="flight_sta_utc"
          [(ngModel)]="staUTC"
          #sta="ngModel"
          minlength="1"
          maxlength="4"
          pattern="^[0-9]*$"
          required
          type="text">
      </mz-input-container>
      <mz-select-container class="col s3">
        <select mz-select label="Next Day Crossover?" [placeholder]="'Next Day Crossover'" [(ngModel)]="nextDay" (change)="nextDay = $event.target.value">
          <option class="left circle" value="1">YES</option>
          <option class="left circle" value="0">NO</option>
        </select>
      </mz-select-container>
      <mz-input-container class="col s3">
        <input mz-input
          [label]="'Tail Number (3 or 4 digit)'"
          placeholder=""
          name="flight_eon_utc"
          [(ngModel)]="newTail"
          #tail="ngModel"
          minlength="3"
          maxlength="4"
          pattern="^[0-9]*$"
          required
          type="text">
      </mz-input-container>
    </div>
    <!-- submit -->
    <div class="row center">
      <button class="waves-effect waves-light btn"
              type="submit"
              value="Post"
              [disabled]="flightNumber.invalid
              || flightOriginDate.invalid
              || originCity.invalid
              || destinationCity.invalid
              || std.invalid
              || sta.invalid
              || nextDay == ''
              || nextDay == null
              || tail.invalid
              || buttonEnable == false">POST</button>
      <button type="reset" value="Reset" class="waves-effect waves-light btn" (click)="reset()">RESET</button>
    </div>
  </form>
</div>
