/* You can add global styles to this file, and also import other style files */
body {
  background-color: #424949;
}

h5 {
  font-weight: 500;
  // color: #A38F84;
  color: #606060;
}

.btn {
  background: #45B39D;
}

.btn:hover {
  background: #e74c3c;
}

.card-panel {
  background: #F2F3F4;
}
