/* You can add global styles to this file, and also import other style files */
body {
  background-color: #424949;
}

h5 {
  font-size: 1.3rem;
}

h5, p {
  font-weight: 500 !important;
  // color: #A38F84;
  color: #606060 !important;
}

p {
  font-size: 1.5rem;
}

.btn {
  background: #45B39D;
}

.btn-evt {
  margin: 1%;
}

.btn:hover, .btn-selected, nav {
  background: #e74c3c;
}


.e-name {
  color: #e74c3c;
}

