::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #D1D1D1 !important;
  // text-align: center;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color: #D1D1D1 !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 color: #D1D1D1 !important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #D1D1D1 !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
 color: #D1D1D1 !important;
}

table, .card-panel {
  color: #606060 !important;
  font-weight: 500 !important;
}

.card-panel > h5, mz-tab > ul > li > a {
  color: #606060 !important;
}


.collection-item, .collection-header, .secondary-content > .normal, h5.normal {
  color: #45B39D !important;
}
.secondary-content, .color-red, .collection-header > h4 > span, mz-tab > ul > li > a.active {
  color: #e74c3c !important;
}

.current {
  background: #e74c3c !important;
}


mz-tab > ul > li.indicator {
  background-color: #e74c3c !important;
  height: 3px !important;
}

mz-tab > ul > li > a, .card-panel > h5 {
  font-size: 16px !important;
  font-weight: 500 !important;
}

input:focus {
  border-bottom: 1px solid #45B39D !important;
}
